---
layout: landing
current: home
class: 'home-template'
navigation: True
---

<header class="site-header outer {% if page.cover or site.cover %} site-header-landing" style="background-image:  url({{ site.baseurl }}{% if page.cover %}{{ page.cover }}{% elsif site.cover %}{{ site.cover }}{% endif %}) {% else %}no-cover{% endif %}">
    <div class="inner">
        <div class="site-header-content-landing">
            <div class="site-title site-logo-landing">
                {% include svg-majway-logo.html %}
            </div>
            {% include landing-site-nav.html %}
        </div>
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="landing-feed">
            {%  include landing.html %}
        </div>
    </div>
</main>
