<nav class="site-nav-landing">
    <div class="site-nav-billboard">
        <div class="social-links-landing">
            <a class="social-link social-link-gh" href="{{ site.github }}" target="_blank" rel="noopener" title="{{ site.owner }}'s Github">{% include svg-github.html %}</a>
            <a class="social-link social-link-tw" href="{{ site.twitter }}" target="_blank" rel="noopener" title="{{ site.owner }}'s Twitter">{% include svg-twitter.html %}</a>
            <a class="social-link social-link-li" href="{{ site.linkedin }}" target="_blank" rel="noopener" title="{{ site.owner }}'s LinkedIn">{% include svg-linkedin.html %}</a>
            <a class="social-link social-link-why" href="{{ site.baseurl }}why/" title="Why did I make this site?">{% include svg-why.html %}</a>
        </div>
    </div>
</nav>
